@charset "UTF-8";

.landing {
  width: 450px;
  height: 600px;

  background: #F5F0E6;
  box-shadow: 0px 20px 50px rgba(0, 0, 0, 0.15);
  border-radius: 30px;
}

.textJoke {
  height: 52px;
  top: 210px;

  font-style: normal;
  font-weight: normal;
  font-size: 38px;
  line-height: 52px;
  color: #565656;

}

.textJokeBase {
  height: 132px;
  top: 292px;

  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 22px;

  color: #565656;

}
